{% extends 'base.html.twig' %}

{% block title %}Simplex-Immo: F.A.Q.{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="col-12 simplexHomepage col-12 d-flex align-items-end justify-content-center py-3">
            F.A.Q.
        </h1>
        <div class="toShort">
            {% for x in 1..5 %}
                <div class="accordion" id="faq{{ x }}">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{ x }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{ x }}" aria-expanded="false"
                                    aria-controls="collapse{{ x }}">
                                {{ 'question '~x }}
                            </button>
                        </h2>
                        <div id="collapse{{ x }}" class="accordion-collapse collapse" aria-labelledby="heading{{ x }}"
                             data-bs-parent="#faq{{ x }}">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque natus nihil
                                quam repellendus totam. Consequuntur, cupiditate enim ex in maiores nisi, nostrum odit
                                porro possimus quaerat, quidem ratione reprehenderit sapiente sed soluta voluptatem
                                voluptates. A aut blanditiis eveniet magni nobis, obcaecati recusandae sunt.
                                Accusantium, at autem distinctio doloremque dolores doloribus eaque eligendi, ex fugiat
                                id itaque laboriosam libero magni molestiae necessitatibus nemo numquam porro possimus
                                quaerat quas quo quod repellendus saepe soluta sunt velit vero voluptate! Aperiam
                                consectetur dolore ducimus error est fugit in labore laborum modi molestias, nam
                                perferendis, quisquam recusandae sapiente totam veniam voluptate. Debitis, error
                                officia.
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
