<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('homepage') }}">
            <img src="{{ asset('img/shared/logo.png') }}" class="logoNav" alt="logo Simplex-Immo"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {% set controllers = {
            'homepage' : 'App\\Controller\\WalkerController::homepage',
            'index' : 'App\\Controller\\PostController::index',
            'indexByCategory' : 'App\\Controller\\PostController::indexByCategory',
            'faq' : 'App\\Controller\\WalkerController::faq',
            'prices' : 'App\\Controller\\WalkerController::prices',
            'login' : 'App\\Controller\\SecurityController::login',
        } %}
        {% set controller = app.request.attributes.get('_controller') %}

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    {% set active = (controllers['homepage'] == controller ? 'active' : '') %}
                    <a class="nav-link {{ active }}" href="{{ path('homepage') }}">Accueil
                        {{ active ? '<span class="visually-hidden">(current)</span>' : '' }}
                    </a>
                </li>
                <li class="nav-item">
                    {% set active = ((controllers['index'] == controller or controllers['indexByCategory'] == controller) ? 'active' : '') %}
                    <a class="nav-link {{ active }}" href="{{ path('index') }}">Articles
                        {{ active ? '<span class="visually-hidden">(current)</span>' : '' }}
                    </a>
                </li>
                <li class="nav-item">
                    {% set active = (controllers['faq'] == controller ? 'active' : '') %}
                    <a class="nav-link {{ active }}" href="{{ path('faq') }}">F.A.Q.
                        {{ active ? '<span class="visually-hidden">(current)</span>' : '' }}
                    </a>
                </li>
                <li class="nav-item">
                    {% set active = (controllers['prices'] == controller ? 'active' : '') %}
                    <a class="nav-link {{ active }}" href="{{ path('prices') }}">Nos tarifs
                        {{ active ? '<span class="visually-hidden">(current)</span>' : '' }}
                    </a>
                </li>
            </ul>
            <ul>
                <li class="nav-item d-flex">
                    {% if app.user %}
                    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    {% else %}
                        {% set active = (controllers['login'] == controller ? 'active' : '') %}
                        <a class="nav-link {{ active }}" href="{{ path('app_login') }}">Connexion
                            {{ active ? '<span class="visually-hidden">(current)</span>' : '' }}
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>